<ion-app>
  <ion-split-pane [when]="false">
    <ion-menu>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>SOT - Loot</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="afAuth.auth.signOut()">{{ 'ACTIONS.LOGOUT' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-item text-center>
            <ion-label>
              {{ 'MENU.LOGGED_IN_AS' | translate:{email: user?.email} }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-segment (ionChange)="updateLang($event)">
              <ion-segment-button value="en">
                en
              </ion-segment-button>
              <ion-segment-button value="fr">
                fr
              </ion-segment-button>
            </ion-segment>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item routerLink="/loot-tracker" detail>
            <ion-label>{{ 'LOOT_TRACKER.TITLE' | translate }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>